<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  
  <body>
   <div class="main-container">
    <div class="company">
       <img class = "company-img" src="/images/company.jpg" alt="Company">
       <a href="/addcompany">
        <div class="centered" style = "color:black">Company </div>
        </a>
    </div>
    <div class="student">
       <img src="/images/student.png" alt="Student">
       <a href="/addstudent">
       <div class="centered" style = "color:white">Student</div>
       </a>
    </div>
   </div>
  </body>
</html>
